:root {
    --roxo1: #3901b7;
    --roxo2: #2b01a5;
    --roxo3: #1d0193;
    --roxo4: #0e0080;
    --roxo5: #00006e;
    --roxoazul: rgb(22, 0, 63);
}

body {
    font-family: 'Roboto', sans-serif;
}

.font-title, header h1{
    font-family: 'Lemon', serif;
}

.font-title-color{
    color: var(--roxo1);
}

header {
    border-bottom: 4px solid var(--roxoazul); 
}

.navbar {
    background-color: var(--roxo1);
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: var(--roxo1);
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover, .carousel-caption a {
    color: #fff;
}

.navbar-toggler {
    background-color: #fff;
}

.carousel img {
    object-fit: cover;
    height: 400px;
    width: 100%;
}

.card-body {
    height: 200px;
}

.nav-destinos .nav-link.active, #contato button {
    background-color: var(--roxo1);
    color: #fff;
}

.nav-destinos .nav-link.hover{
    color: var(--roxo1);
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img{
        height: 280px;
    }

    #contato form button {
        margin: 2em 2em 2emauto;
    }
}